@model UniProject.Models.Register

@{
    ViewData["Title"] = "Edit";
}

<h3 class="text-center">Edit an Account</h3>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input required asp-for="FirstName" class="form-control" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input required asp-for="LastName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input required asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select required asp-for="Gender" class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input type="number" asp-for="Age" min="18" max="120" step="1" value="18" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IsAdmin" class="control-label"></label>
                <select asp-for="IsAdmin" class="form-control" id="AdminInput">
                    <option>True</option>
                    <option>False</option>
                </select>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success w-100">
                        <i class="fa-sharp fa-solid fa-id-card"></i> Save
                    </button>
                </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <a class="btn btn-secondary w-100" asp-action="Index">
                            <i class="fa-solid fa-users"></i> View All Accounts
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
